{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Book | Flight</title>
    <link rel="stylesheet" href="{% static 'css/book_style.css' %}">
    <script type="text/javascript" src="{% static 'js/book.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="section section1">
        <form action="{% url 'book' %}" onsubmit="return book_submit()" method="POST">
            {% csrf_token %}
            <input type="hidden" name="flight1" value="{{flight1.id}}">
            <input type="hidden" name="flight1Date" value='{{flight1ddate | date:"d-m-Y"}}'>
            <input type="hidden" name="flight1Class" value="{{seat}}">
            {% if flight2 %}
                <input type="hidden" name="flight2" value="{{flight2.id}}">
                <input type="hidden" name="flight2Class" value="{{seat}}">
                <input type="hidden" name="flight2Date" value='{{flight2ddate | date:"d-m-Y"}}'>
            {% endif %}
            <div class="row main-row">
                <div class="col-8">
                <div class="ticket-details">
                    <h5>Ticket Details</h5>
                    <hr>
                    <div class="media-airline">
                        <div>
                            <div class="brand">{{flight1.airline}}</div>
                            <div>&nbsp;&middot;&nbsp;</div>
                            <div class="plane-name">{{flight1.plane}}</div>
                            <div>&nbsp;&middot;&nbsp;</div>
                            <div class="plane-name">{{seat}}</div>
                        </div>
                    </div>
                    <div class="row ticket-details-div">
                        <div class="col-3 airline-name">
                            <div class="brand">{{flight1.airline}}</div>
                            <div class="plane-name">{{flight1.plane}}</div>
                        </div>
                        <div class="col-3 depart-time">
                            <div class="time">{{flight1.depart_time | time:'H:i'}}</div>
                            <div class="date ddate" data-value='{{flight1ddate | date:"d-m-Y"}}'>{{flight1ddate | date:"D, d M y"}}</div>
                            <div class="place">{{flight1.origin.city}}</div>
                            <div class="airport">{{flight1.origin.airport}}</div>
                        </div>
                        <div class="col-3 time-details">
                            <div class="duration" data-value="{{flight1.duration}}"></div>
                        </div>
                        <div class="col-3 arrival-time">
                            <div class="time">{{flight1.arrival_time | time:'H:i'}}</div>
                            <div class="date adate" data-value='{{flight1adate | date:"d-m-Y"}}'>{{flight1adate | date:"D, d M y"}}</div>
                            <div class="place">{{flight1.destination.city}}</div>
                            <div class="airport">{{flight1.destination.airport}}</div>
                        </div>
                    </div>
                    {% if flight2 %}
                        <!--Round Trip-->
                        <div style="padding: 0 15px;" class="round-seperator"><hr style="border-top: 0.5px dashed rgba(0,0,0,.1);"></div>
                        <!--/Round Trip-->
                        <div class="media-airline">
                            <div>
                                <div class="brand">{{flight2.airline}}</div>
                                <div>&nbsp;&middot;&nbsp;</div>
                                <div class="plane-name">{{flight2.plane}}</div>
                                <div>&nbsp;&middot;&nbsp;</div>
                                <div class="plane-name">{{seat}}</div>
                            </div>
                        </div>
                        <div class="row ticket-details-div">
                            <div class="col-3 airline-name">
                                <div class="brand">{{flight2.airline}}</div>
                                <div class="plane-name">{{flight2.plane}}</div>
                            </div>
                            <div class="col-3 depart-time">
                                <div class="time">{{flight2.depart_time | time:'H:i'}}</div>
                                <div class="date ddate">{{flight2ddate | date:"D, d M y"}}</div>
                                <div class="place">{{flight2.origin.city}}</div>
                                <div class="airport">{{flight2.origin.airport}}</div>
                            </div>
                            <div class="col-3 time-details">
                                <div class="duration" data-value="{{flight2.duration}}"></div>
                            </div>
                            <div class="col-3 arrival-time">
                                <div class="time">{{flight2.arrival_time | time:'H:i'}}</div>
                                <div class="date adate">{{flight2adate | date:"D, d M y"}}</div>
                                <div class="place">{{flight2.destination.city}}</div>
                                <div class="airport">{{flight2.destination.airport}}</div>
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    <div class="baggage-details">

                        <svg width="1em" height="1.5em" viewBox="0 3 16 16" class="bi bi-bag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg> 

                        30 Kgs Check-in, 7 Kgs Cabin
                    </div>
                </div>
                <div class="traveller-details">
                    <div class="traveller-head">
                        <h5>Contact Information</h5>
                    </div>
                    <hr>
                    
                    <div class="row contact-details-div">
                        <div class="row form-group">
                            <!--<div class="input-group col">
                                <div class="input-group-prepend">
                                    
                                </div>
                            </div>-->
                            <div class="col-3 ci">
                                Country Code
                                <select name="countryCode" class="custom-select">
                                    <option data-countryCode="IN" value="91">India (+91)</option>
                                    
                                </select>
                            </div>
                            <div class="col-3 ci">
                                Mobile No
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile No" required>
                            </div>
                            <div class="col-6 ci">
                                Email
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="send-email">
                        &nbsp;
                    </div>
                </div>
                <div class="traveller-details individual-traveller-div">
                    <div class="traveller-head">
                        <h5>Passenger Details</h5>
                        <h6><span>0</span> Passengers</h6>
                    </div>
                    <hr>
                    <input type="hidden" id="p-count" name="passengersCount" value="0">
                    <div class="each-traveller-div">
                    </div>
                    <div class="row each-traveller no-traveller">
                        <div>
                            <span class="traveller-name"></span>
                            You have not added any adults to the list
                        </div>
                    </div>
                    <div class="row add-traveller-div collapse" id="collapseExample">
                        <!-- <div class="note-name"><span>IMPORTANT :</span> Enter your name as it is mentioned on your passport or any government approved ID.</div> -->
                        <div class="row form-group add-traveller-div-name">
                            <div class="col">
                                <input type="text" class="form-control" id="fname" placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="lname" placeholder="Last name">
                            </div>
                        </div>
                        
                        <div class="row form-group radio-div">
                            <div class="form-check-inline cd">
                                Gender: 
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input gender" value="male">Male
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input gender" value="female">Female
                                </label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-light" style="margin-right: auto;" onclick="add_traveller()">Add</button>
                    </div>
                    <hr>
                    <div class="add-traveller">
                        <button class="add-traveller-btn text-uppercase btn"  type="button" data-toggle="collapse" data-target="#collapseExample">+ ADD ADULT</button>
                    </div>
                </div>
                <div class="payment-btn" style="background-color: transparent;">
                    <button type="submit" class="btn btn-primary btn-danger">Proceed to payment</button>
                </div>
                </div>
                <!-- <div class="col-4">
                    <div class="price-details">
                        <h5>Fare Summary</h5>
                        <hr>
                        <div class="row base-fare">
                            <div class="base-fae-label">Base Fare: </div>
                            <div class="base-fare-value">
                                {% if seat == 'First' %}
                                    ₹ <span>
                                        {% if flight2 %}
                                            {{flight1.first_fare | add:flight2.first_fare}}
                                        {% else %}
                                            {{flight1.first_fare}}
                                        {% endif %}
                                        </span>
                                    <input type="hidden" id="basefare" value="{% if flight2 %}{{flight1.first_fare | add:flight2.first_fare}}{% else %}{{flight1.first_fare}}{% endif %}">
                                {% elif seat == 'Business' %}
                                    ₹ <span>
                                        {% if flight2 %}
                                            {{flight1.business_fare | add:flight2.business_fare}}
                                        {% else %}
                                            {{flight1.business_fare}}
                                        {% endif %}
                                        </span>
                                    <input type="hidden" id="basefare" value="{% if flight2 %}{{flight1.business_fare | add:flight2.business_fare}}{% else %}{{flight1.business_fare}}{% endif %}">
                                {% elif seat == 'Economy' %}
                                    ₹ <span>
                                        {% if flight2 %}
                                            {{flight1.economy_fare | add:flight2.economy_fare}}
                                        {% else %}
                                            {{flight1.economy_fare}}
                                        {% endif %}
                                    </span>
                                    <input type="hidden" id="basefare" value="{% if flight2 %}{{flight1.economy_fare | add:flight2.economy_fare}}{% else %}{{flight1.economy_fare}}{% endif %}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row surcharges">
                            <div class="surcharges-label">Fee & Surcharges: </div>
                            <div class="surcharges-value">₹ <span>{{fee}}</span></div>
                            <input type="hidden" id="fee" value="{{fee}}">
                        </div>
                        <hr>
                        <div class="total-fare">
                            <div class="total-fare-label">Total Fare: </div>
                            <div class="total-fare-value">
                                {% if seat == 'First' %}
                                    ₹ <span>
                                        {% if flight2 %}
                                            {{flight1.first_fare | add:flight2.first_fare | add:fee}}
                                        {% else %}
                                            {{flight1.first_fare | add:fee}}
                                        {% endif %}
                                    </span>
                                {% elif seat == 'Business' %}
                                    ₹ <span>
                                        {% if flight2 %}
                                            {{flight1.business_fare | add:flight2.business_fare | add:fee}}
                                        {% else %}
                                            {{flight1.business_fare | add:fee}}
                                        {% endif %}
                                    </span>
                                {% elif seat == 'Economy' %}
                                    ₹ <span>
                                        {% if flight2 %}
                                            {{flight1.economy_fare | add:flight2.economy_fare | add:fee}}
                                        {% else %}
                                            {{flight1.economy_fare | add:fee}}
                                        {% endif %}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div> -->
                <input type="hidden" name="ticket" value="{{ticket}}" required>
                <div class="col media-payment-btn">
                    <div>
                        <button type="submit" class="btn btn-primary btn-danger">Proceed to payment</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}